body{

    display: flex;
    /* width: 600px;
    height: 600px;
    padding: 40px; */
    /* justify-content: center;
    align-items: center; */
    /* flex-shrink: 0; */
    background: #0B2434;
    justify-content: center;
    align-items: center;


}
main{
    /* display: flex; */
    margin-top: 70px;
    width: 520px;
    height: 520px;
    /* justify-content: center;
    align-items: center;
    flex-shrink: 0; */
    border-radius: 10px;
    background: #F5F5F5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.cont{
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
}

.rollbutton{
    width: 120px;
    height: 45px;
    background-color: #5035FF;
    border-radius: 6px;
    color: white;
    margin: 30px;
    font-family: Karla, sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
    cursor: pointer; 
    border: none;
}

.rollbutton:focus {
    outline: none;
}

.rollbutton:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.title{
    font-family: karla, sans-serif;
    font-size: xxx-large;
    margin-bottom: 0;
}

.instructions{
    font-family: karla, sans-serif;
    font-size: large;
    margin-top: 0;
    padding-left: 10px;
    padding-right: 4px;
}